@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<GenAITech.Models.GenAISite>

@{
    ViewData["Title"] = "Index";
    var index = 0;
}

<div id="genai-index" class="fullscreen">
    <div class="container-fluid">
        <h1 class="text-center main-title">Generative AI Websites</h1>
        @if (SignInManager.IsSignedIn(User))
        {
            <p class="text-center">
                <a class="text-secondary" asp-controller="GenAISites" asp-action="Create">Click here to
                    add a new generative AI website.</a>
            </p>
        }
        else
        {
            <p class="text-center text-white">Please <a class="text-secondary" href="/Identity/Account/Login">login</a>
                or <a class="text-secondary" href="/Identity/Account/Register">register</a> to add a new generative Al
                website.</p>

        }
        <div class="row mt-5">
            @foreach (var item in Model)
            {
                <div class="col-md-4 p-0">
                    <div class="image-container">
                        <img src="/images/@item.ImageFilename" alt="">
                    </div>
                </div>
                <div class="col-md-8 p-0">
                    <div id="@item.AnchorLink" class="genai-grid @(index % 2 == 0 ? "even" : "odd")">
                        <h5 class="text-center blue-title mb-4">@Html.DisplayFor(modelItem => item.GenAIName)</h5>
                        <p>@Html.DisplayFor(modelItem => item.Summary)</p>

                        <div class="d-flex mt-4 text-white">
                            <form method="post" asp-action="Like" asp-route-id="@item.Id">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="hidden" name="AnchorLink" value="@item.AnchorLink" />
                                <button type="submit" class="btn btn-primary px-3 py-1">Like (@item.Like)</button>
                            </form>
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-success px-3 py-1 mx-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger px-3 py-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>
                index++;
            }
        </div>
    </div>
</div>


<script>
    function updateBackground() {
        var imageContainers = document.querySelectorAll(".image-container");
        var windowWidth = window.innerWidth || document.documentElement.clientWidth;

        imageContainers.forEach(function (container) {
            var img = container.querySelector("img");
            var imgSrc = img.getAttribute("src");

            if (windowWidth > 576 && windowWidth < 768) {
                container.style.backgroundImage = "url(" + imgSrc + ")";
                container.style.backgroundSize = "contain";
                container.style.backgroundRepeat = "repeat";
                container.style.height = "190px";
                img.style.display = "none";
            } 
            else if (windowWidth < 576) {
                container.style.backgroundImage = "url(" + imgSrc + ")";
                container.style.backgroundSize = "contain";
                container.style.backgroundRepeat = "repeat";
                container.style.height = "150px";
                img.style.display = "none";
            }
            else {
                container.style.backgroundImage = "none";
                container.style.backgroundRepeat = "no-repeat";
                img.style.display = "block";
                container.style.height = "100%";
                img.style.height = "100%";
                img.style.width = "100%";
                img.style.objectFit = "cover";
            }
        });
    }

    // Call the function on page load and when the window is resized
    window.addEventListener("load", updateBackground);
    window.addEventListener("resize", updateBackground);


</script>